<div class="container">

  <div class="panel-group" class="card-body" class="card h-center" style="width: 600px;">
    <div class="panel panel-primary">
      <div class="panel-body">Car Rental Register</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
      </div>
    </div>

    <div>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form-group" style="margin-left: 20px">
          CarType:
          <select formControlName="CarType">


            <option value="" class="form-control">-- Rental Purpose --</option>
            <option value="Travel" class="form-control">Travel</option>
            <option value="Cargo" class="form-control">Cargo</option>
            <option value="Business" class="form-control">Business
          </select>
        </div>

        <div class="form-group" style="margin-left: 20px">
          Departure:
          <select formControlName="Departure">
            <option value="" class="form-control">-- FROM --</option>
            <option *ngFor="let location of locations" value={{location.name}} class="form-control">
              {{location.name}}
            </option>
          </select>
        </div>

        <div class="form-group" style="margin-left: 20px">
          Destination:
          <select formControlName="Destination">
            <option value="" class="form-control">-- To --</option>
            <option *ngFor="let location of locations" value={{location.name}} class="form-control">
              {{location.name}}
            </option>
          </select>
        </div>

        <div class="form-group" style="margin-left: 20px">
          Departure Date:
          <input type="date" formControlName="Date">
        </div>

        <div class="form-group" style="margin-left: 20px">
          Phone-Number:<input type="tel" formControlName="number" class="form-control" style="width: 300px"/>
        </div>

        <div style="margin-left: 20px">
          <button type="button" type="submit" class="btn btn-primary active" style="margin-left: 20px">Submit</button>

          <button type="button" type="reset" value="Reset" class="btn btn-primary disabled" style="margin-left: 50px">Reset</button>
        </div>

      </form>

    </div>
  </div>
</div>
