<div class="container">

  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-body">Car Rental Register</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-body">
      </div>
    </div>

    <div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
          CarType:
          <select formControlName="CarType" >


            <option value="">-- Rental Purpose --</option>
            <option value="Travel">Travel</option>
            <option value="Cargo">Cargo</option>
            <option value="Business">Business
          </select>
        </div>

        <div>
          Departure:
          <select formControlName="Departure">
            <option value="">-- FROM --</option>
            <option *ngFor="let location of locations" value={{location.name}}>{{location.name}}</option>
          </select>
        </div>

        <div>
          Destination:
          <select formControlName="Destination">
            <option value="">-- To --</option>
            <option *ngFor="let location of locations" value={{location.name}}>{{location.name}}</option>
          </select>
        </div>

        <div>
          Departure Date:
          <input type="date" formControlName="Date">
        </div>

        <div>
          Phone-Number:
          <input type="tel" formControlName="pre" /> - <input type="text" formControlName="mid" /> - <input type="text"
            formControlName="last" />
        </div>

        <div>
          <button type="button" type="submit">Submit</button>
          <button type="button" type="reset" value="Reset">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
