<div class="container">
  <div class="row" *ngIf="carDeal">
    <div class="col">
      <div class="row">
        <h4>Request Details</h4>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">Request ID:</span></div>
        <div class="col">{{carDeal._id}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">Title:</span></div>
        <div class="col">{{carDeal.tittle}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">Service:</span></div>
        <div class="col">{{carDeal.dealtype}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">From:</span></div>
        <div class="col">{{carDeal.fromlocation.locationname}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">To:</span></div>
        <div class="col">{{carDeal.tolocation.locationname}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">Status:</span></div>
        <div class="col">{{carDeal.status}}</div>
      </div>
      <div class="row">
        <div class="col-4"><span class="label">Departure date:</span></div>
        <div class="col">{{carDeal.departureDate | date}}</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>Driver Offers</h4>
      <div class="row">
        <div class="col-4"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="spinner" *ngIf="carDeal === undefined"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    Loading...</div>
</div>
