<div class="container">
  <h2>Car Rental History</h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered" style="border: 1px solid black">
        <thead>
          <tr>
            <th>Request</th>
            <th>Purpose</th>
            <th style="width: 300px">Title</th>
            <th>Type</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>DepartDate</th>
            <th>Offers</th>
            <th>Post Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let carDeal of carDealsList">
          <tr>
            <td>{{carDeal._id}}</td>
            <td>
              {{carDeal.dealtype}}
            </td>
            <td>{{carDeal.tittle}}</td>
            <td>{{carDeal.dealtype}}</td>
            <td>{{carDeal.fromlocation.locationname}}</td>
            <td>{{carDeal.tolocation.locationname}}</td>
            <td>{{carDeal.departureDate | date:'MM/dd/yyyy'}}</td>
            <td>{{carDeal.bids.length}}</td>
            <td>{{carDeal.createdDate | date:'MM/dd/yyyy'}} <a class="nav-link" [routerLink]="['../deal-detail', carDeal._id]">Create Deal</a></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
